<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end">
      تفسير القرآن الكريم
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning" slot="end">
  <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card  style="height: 95%; width: 95%;" >
    <ion-card-header>
      <form [formGroup]="tafseerForm" (ngSubmit)="getTafseer()">
        <div class="form-group" style="width: 100%; display: flex; align-items: center; justify-content: center;">
            <ion-button color="warning" type="submit" [disabled]="!tafseerForm.valid">فسّر</ion-button>
            <ion-input formControlName="ayahNumber" class="input" type="text" placeholder="رقم الآية"></ion-input>
            <ion-input formControlName="surahNumber" class="input" type="text" placeholder="رقم السورة"></ion-input>
        </div>
      </form> 
    </ion-card-header>
    <ion-card-content style="background-color: rgb(212, 212, 212); height:100%">
      <p style="text-align: end; color: rgb(53, 53, 53);">{{ayahText}}</p>
    </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>
